<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IdentityDemo.mdf;Initial Catalog=IdentityDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- SMS Service -->
    <add key="SmsService-AccountSid" value="" />
    <add key="SmsService-AuthToken" value="" />
    <add key="SmsService-PhoneNumber" value="" />
    <add key="SmsService-Enabled" value="false" />

    <!-- E-mail Service -->
    <add key="EmailService-SenderEmail" value="" />
    <add key="EmailService-SenderName" value="" />
    <add key="EmailService-Subject" value="Identity email subject" />
    <add key="EmailService-SmtpHost" value="smtp.gmail.com" />
    <add key="EmailService-SmtpPort" value="587" />
    <add key="EmailService-LoginUser" value="" />
    <add key="EmailService-LoginPassword" value="" />
    <add key="EmailService-Enabled" value="false" />

    <!-- MongoDB -->
    <add key="MongoDB-ConnectionString" value="mongodb://localhost:27017" />
    <add key="MongoDB-Database" value="identity-test" />
    <add key="MongoDB-User" value="" />
    <add key="MongoDB-Password" value="" />

    <!-- Microsoft Login -->
    <add key="MicrosoftLogin-Id" value="" />
    <add key="MicrosoftLogin-Secret" value="" />
    <add key="MicrosoftLogin-Enabled" value="false" />

    <!-- Twittwer Login -->
    <add key="TwitterLogin-Key" value="" />
    <add key="TwitterLogin-Secret" value="" />
    <add key="TwitterLogin-Enabled" value="false" />

    <!-- Google Login -->
    <add key="GoogleLogin-Id" value="" />
    <add key="GoogleLogin-Secret" value="" />
    <add key="GoogleLogin-Enabled" value="false" />

    <!-- Facebook Login -->
    <add key="FacebookLogin-Id" value="" />
    <add key="FacebookLogin-Secret" value="" />
    <add key="FacebookLogin-Enabled" value="false" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="IdentitySample.Startup,IdentitySample" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>